<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="HangfireDbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=hangfire;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="HangfireReadOnly" connectionString="Data Source=.\sqlexpress;Initial Catalog=hangfire;Integrated Security=False;User Id=hangfireuser;Password=pwd123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>